body, html {
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
}

body {
    padding: 30px;
}

body, html, input, select, textarea {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

.input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: 800px;
    background: #1f1f1f;
    max-width: 100%;
}